libicui18n.so.66
libicuuc.so.66
libxslt.so.1  
libwoff2dec.so.1.0.2
libevent-2.1.so.7
libopus.so.0
libharfbuzz-icu.so.0    
libjpeg.so.8
libwebp.so.6
libsecret-1.so.0 
libhyphen.so.0   
libEGL.so.1 
libGLX.so.0 
libgudev-1.0.so.0
libffi.so.7 
libevdev.so.2    
libjson-glib-1.0.so.0   
libGLESv2.so.2 